{
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "web3": false,
    "artifacts": false,
    "contract": false
  },
  "rules": {
    "prettier/prettier": ["error", {
      "printWidth": 80, "singleQuote": true, "semi": false
    }],
    "quotes": ["error", "single"],
    "semi": 0,
    "no-unused-vars": ["error", {
      "vars": "all",
      "args": "none",
      "ignoreRestSiblings": false
    }]
  }
}